{% load static %}
<nav id="menu">
    <!--Criando navbar-->
    <div class="menu">
        <a class="logo" href="{% url 'inicio_projeto' %}">
            <img src="../../../../static/assets/Hemerotecalogo.png" alt="Hemeroteca">
        </a>
        <div class="profile">
            {% if user.is_anonymous %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}
                <button id="open">
                    <i class="far fa-bell"></i>
                </button>
                <span>
                    <strong>{{ user.nome }}</strong>
                    <a href="{% url 'logout' %}">sair</a>
                </span>
                <a href="{% url 'edi_perfil' %}">
                    <img src={{user.usuariocomum.foto.url}} />
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="notifications hidden" id="notifications">
    <header>
        <label>Notificações</label>
        
        <button id="close">
            <i class="far fa-times-circle"></i>
        </button>
    </header>
    <ul>
        {% if notificacoes %}
        {% for item in notificacoes %}
        <li class="notification">
                <img src='{{item.noti_pesquisador.foto.url}}'/>
                <div class="aside">
                <p>
                    O pesquisador <b>{{item.noti_pesquisador.nome}}</b> solicitou sua participação ao acervo do projeto <b>"{{item.noti_arquivo.pro_titulo}}"</b>
                </p>
                <form action="" method="POST">
                {% csrf_token %}
                    <button value={{item.id}} id='button_aceito' name='button_aceito'class="accept">Aceitar</button>
                    <button value={{item.id}} name='button_recusado' class="deny">Rejeitar</button>
                </form>
            </div>
            {% endfor %}
    
        {%else%}
            Sem Notificações
        {%endif%}
           
        </li>
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#open").click(function () {
        $("#notifications").removeClass("hidden");
    });
    $("#close").click(function () {
        $("#notifications").addClass("hidden");
    });
</script>