{% load static %}
<nav>
  <!--Criando navbar-->
  <div class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img width="200px" src="../../static/assets/logotipo.png" alt="Hemeroteca">
    </a>
    <div class="profile">
      {% if user.is_anonymous %}
      <a href="{% url 'login' %}">Login</a>
      {% else %}
      <div>
        Olá, {{ user.nome }}!
      </div>
      <div class="options">
        <a href="{% url 'edi_perfil' %}">Atualizar dados</a>
        <a href="{% url 'logout' %}">Sair</a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>