<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <title>Index</title>
     
</head>
<body>
    <div class="container">
        <h1>Projetos</h1>

    </div>
    <ul>
        {% for pessoas in pessoa %}
        <li>
            <span><a href="/templates/{{pessoas.id}}">{{pessoas.nome}}</a></span>
            <span class="fas fa-trash"></span>
            <a href="edi_projetos/{{projetos.id}}">edita</a>
            
        </li>
        
        {% endfor %}
    </ul>
    
</body>
</html>