{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hemeroteca | Projetos</title>
        <link rel="stylesheet" href="../../../static/css/navbar-profile.css">
        <link rel="stylesheet" href="../../../static/css/global.css">
        <link rel="stylesheet" href="../../../static/css/ver_projetos.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <!-- Menu -->
        {% include 'projetos/navbar.html' %}
        <!-- Menu end -->

        <section class="container">
           <h2>Projeto: {{projeto.pro_titulo}}</h2>

            <div class="description">
                <h3>Descrição</h3>
                <p>{{ projeto.pro_desc }}</p>
            </div>

            {% if user.usuariocomum.tipo_de_usuario == 'PE' %}

            <div class="pending">
                <h3>Solicitações pendentes</h3>
                <ul class="list-bolsistas">
                    {% for p in pendentes %}
                        <li class="card">
                            <img src={{p.noti_bolsista.usuariocomum.foto.url}} alt="">
                            <div class="card-info">
                                <strong>{{ p.noti_bolsista.usuariocomum.nome }}</strong>
                                <span>Instituição: IFAL</span>
                            </div>
                            <a class="cancel" href='deletar_pedido/{{p.id}}'>Cancelar</a>
                        </li> 
                    {% endfor %} 
                </ul>
            </div>
            
            <div class="participants">
                <h3>Participantes</h3>
                <ul class="list-bolsistas">
                    {% if apenasUmUsuario == 1 %}
                        <li class="card">
                            <img src={{request.user.foto.url}} alt="">
                            <div class="card-info">
                                <strong>{{ request.user.nome }}</strong>
                                <span>Instituição: IFAL</span>
                                <span class="type">Pesquisador</span>
                            </div>
                        </li>                        
                    {% else %}
                        {% for usuario in listaDeUsuarios %}
                            <li class="card">
                                <img src={{usuario.foto.url}} alt="">
                                <div class="card-info">
                                    <strong>{{ usuario.nome }}</strong>
                                    <span>Instituição: IFAL</span>
                                    <span class="type">
                                        {% if usuario.tipo_de_usuario  == 'PE'%}
                                        Pesquisador
                                        {% else %}
                                        Bolsista
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}      
                </ul>

                <div class="new">
                    <h4>Adicionar novo bolsista</h4>
                    <form action="submit" method="GET">
                        {% csrf_token %}
                        <input placeholder="Nome do bolsista" name="nomeDoBolsista" type="text" >
                        <button type="submit">Buscar</button>

                        <ul class="list-bolsistas">
                            {% if lista_bolsista %}
                                {% for bolsista in lista_bolsista  %}
                                    <li class="card">
                                        <img src={{bolsista.usuariocomum.foto.url}} alt="">
                                        <div class="card-info">
                                            <strong>{{ bolsista.nome }}</strong>
                                            <span>Instituição: aqui</span>
                                        </div>
                                        <a href="adicionarBolsista/{{ bolsista.id}}">Adicionar bolsista</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                sem bolsistas encontrados
                            {% endif %}
                        </ul>
                    </form>
                </div>
            </div>
            {% endif %}
            
            <div class="files">
                <header>
                    <h3>Arquivos</h3>
                    <a class="btn-new" href="add_arquivo/">Novo arquivo</a>  
                </header>
                <ul class="list">
                    {% for list_arquivos in list_arquivos %}
                        <li class="file">
                            <div>
                                <div class="header">
                                   <h3>Título: {{ list_arquivos.arq_nome }}</h3> 
                                    {% if list_arquivos.arq_nivel_de_acesso == 'PU' %}
                                        <strong class="public">Público</strong>
                                    {% endif %}
                                    {% if list_arquivos.arq_nivel_de_acesso == 'PR' %}
                                        <strong class="private">Privado</strong>
                                    {% endif %}
                                </div>
                                
                                <span>Assunto: {{ list_arquivos.arq_assunto }}</span>
                                <span>Tipo: {{ list_arquivos.arq_tipo_de_formato }}</span>
                                <span>Data: {{ list_arquivos.arq_data }}</span>      

                                <div class="btn">
                                    <a href="adt_arquivo/{{ list_arquivos.id }}">Editar</a>                            
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </body>
</html>