{% load bootstrap4 %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo usuário</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        {% bootstrap_messages %}

        <form action="{% url 'usuario' %}" method="post" class="form" autocomplete="on" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            Instituição
                <select name="nome_instituicao" id="nome_instituicao">
                    <div>
                        {% for inst in instituicoes %}
                            <option value="{{inst.nome}}">
                                {{inst.nome}}
                            </option>
                        {% endfor %}
                    </div>
                </select>
            <br>
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
