{% load static %}
<html>
    <head> 
        <title>Hemeroteca</title>
        <meta charset="utf-8">
        <!-- links css -->
        <link rel="stylesheet" href="../../static/css/busca.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>    

    <body>
       
        {% block content %}  
       <!-- Menu -->
       {% include 'usuariocomum/nav.html' %}
       <!-- Menu end -->
       <div class="container">
            <h2>Busca de Arquivos</h2>
            <div class="col-9 search-div">
                <form method="GET" id="search-form">{% csrf_token %}
                    <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar..." value="{{ request.GET.search }}">
                    <i class="fas fa-search" id="search-btn"></i>
                </form>
            </div>
            
            <ul class="projetos-list">
                {% for arquivo in arquivos %}
                    <li class="projeto-item">
                        <img class="result-image" src="../../../media/{{arquivo.arq_imagem}}" />
                        <div class="result-infos">
                            <h4><a href="/arquivo/{{arquivo.id}}">{{arquivo.arq_nome}}</a></h4>
                            <span>Descrição: {{arquivo.arq_desc}}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                <span class="step-links">
            {% if arquivo.has_previous %}
                    <a href="?page={{ arquivo.previous_page_number }}"><i class="fas fa-arrow-left"></i></i></a>
            {% endif %}
                <span class="current"> 
            {{ arquivo.number }} de {{ arquivo.paginator.num_pages }}
                </span>
            {% if arquivo.has_next %}
                    <a href="?page={{ arquivo.next_page_number }}"><i class="fas fa-arrow-right"></i></i></a>
            {% endif %}
                </span>
            </div>
            {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/busca_usu_comum.js' %}"></script>
    </body>
    

</html>