{% load static %}
<html>
<head>
      <title>Hemeroteca</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../../static/css/result.css">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
      {% block content %}
            <nav>
            <!--Criando menu-->
                  <div class="navbar d-flex justify-content-between px-5">
                    <a class="navbar-brand" href="#">
                        <img width="200px" height="80px" src="../../static/assets/logotipo.png">
                    </a>
                    <div>
                        <a class="badge" href="inicio"> 
                              <i class="fas fa-arrow-alt-circle-left" id="arrow-btn"></i>
                              voltar
                        </a>
                    </div>
                </div>
            </nav>
            <div class="offset-1 col-10 list-div mb-5 mt-5">
                  <h1>{{arquivos.arq_nome}}</h1>
                  <p>{{arquivos.arq_desc}}</p>
                  <img class="result-image" src="../../../media/{{arquivos.arq_imagem}}" />
            </div>
      {% endblock %}
</body>
</html>


