{% load static %}
<section class="highlights">
  <h4>Destaques</h4>
  <div class="news">
      <img width="200px" src="../../static/assets/penedo.png" />
      <div>
          <h3>Lorem Ipsum</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet error, quisquam asperiores repudiandae culpa recusandae.
              Vero, possimus officiis explicabo suscipit, excepturi aperiam, iure reprehenderit aut quas sequi velit ab adipisci?
          </p>
      </div>
  </div>
</section>
