{% extends 'base.html' %}
{% block content %}
    <form class="form-signin" method="post" autocomplete="off">
        {% csrf_token %}
        <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLtIKAKk7yOnGMDvIgTlkQe_lzRup36b9xD-d5_dSQzKeW_Gw2" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Informe seus dados</h1>

        <label for="username" class="sr-only">E-mail</label>
        <input type="email" id="username" name="username" class="form-control" placeholder="Informe seu e-mail" required autofocus>

        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Informe sua senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
        <p class="mt-5 mb-3 text-muted">&copy; {% now 'Y'%}</p>
    </form>
{% endblock %}
