.menu {
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-left: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: #202020;
}

.menu .register {
  padding: 6px 8px;
  border-radius: 8px;
  color: #fff;
  background-color: #3476e2;
}

.menu .register:hover{
  background-color: #2c67c5;
}