body {
  background: #F2F2F2;
  color: #2C2C2C;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;

  margin: 64px auto;
}

.container h3 {
  margin-bottom: 8px;
}

.container .description {
  margin: 32px 0;
}

.container .files header {
  display: flex;
}

.container .files header a {
  margin-left: 50px;
}

.container .files {
  margin: 32px 0;
}